.page {
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
}

li {
  list-style: none;
  cursor: pointer;
}

main {
  display: table-cell;
  width: 95%;
  background-image: url("../../img/bgSword.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

header {
  font-family: Helvetica, Arial, sans-serif;
  height: 10%;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

header h1 {
  font-size: var(--font-xl);
  color: var(--text-black);
  font-weight: normal;
  margin: 0px 20px;
}

img {
  margin: 0px 20px;
  width: 100px;
  height: 100px;
}

.turtles {
  margin-top: 40px;
  margin-left: 20px;
  text-align: left;
}

.turtle-list {
  max-height: 55vh;
  width: 30%;
  overflow: hidden;
  overflow-y: scroll;
}

.turtle-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.turtle-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
