.server-icon {
  --server-border-spacing: 20px;
  position: absolute;
  right: var(--server-border-spacing);
  bottom: var(--server-border-spacing);
  transition: var(--transition);
  cursor: pointer;
}

.path {
  --animation: pulse 3.5s infinite;
}

@keyframes pulse {
  from {
    fill: #ffffff;
  }

  50% {
    fill: rgb(151, 255, 236);
    /* fill: var(--bg-black); */
  }

  to {
    fill: #ffffff;
  }
}
