.turtle-tab {
  --turtle-active: #313131;
  --turtle-inactive: #f6f6f6;
  --margin-side: 15px;

  background-color: var(--turtle-inactive);
  font-family: Varela;
  border-radius: 35px;
  padding: 10px 0px;
  margin: 10px 0px;
  transition: 0.2s all ease-in-out;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left > *,
.right > * {
  padding: 5px;
  margin: 2px;
}

.left,
.right {
  display: flex;
  align-items: center;
}
.left {
  justify-content: flex-start;
  margin-left: var(--margin-side);
}

.right {
  justify-content: flex-end;
  margin-right: var(--margin-side);
}
