@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

:root {
  /* Background Colors */
  --bg-black: #1e1e1e;
  --bg-white: #ffffff;
  --bg-gray: #cacaca;

  /* Text Color */
  --text-black: #000000;
  --text-white: #ffffff;
  --text-gray: #c4c4c4;

  /* Font Sizes */
  --font-xl: 50px;

  /* Other */
  --navbar-width: 112px;
  --transition: 0.2s all ease-in-out;
}

.App {
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
}

li {
  list-style: none;
  cursor: pointer;
}
